@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d6e1ff;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 500;
}

.container {
}

.item {
  width: 327px;
  height: 567px;
  margin: auto;
  background-color: white;
  border-radius: 30px;
  margin: 71px 24px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.heading {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.description {
  font-size: 15px;
  align-items: center;
  margin: 16px 32px;
  margin-bottom: 24px;
  text-align: center;
  color: #717fa6;
  line-height: 25px;
}

.anualplan {
  width: 279px;
  height: 81px;
  background-color: #f7f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 24px;
  border-radius: 11px;
}

.charge {
  margin-left: 20px;
  font-size: 14px;
}

.money {
  font-size: 14px;
  color: #717fa6;
  margin-top: 3px;
}

.plan {
  font-size: 14px;
}

.change {
  font-size: 13px;
  margin-left: 50px;
  color: #382ae1;
  text-decoration: underline;
  cursor: pointer;
}

.change:hover {
  opacity: 0.7;
}

button {
  width: 279px;
  height: 50px;
  background-color: #382ae1;
  color: white;
  font-size: 15px;
  font-weight: 900;
  border-radius: 11px;
  margin: 24px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.cancel {
  font-size: 15px;
  color: #717fa6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancel:hover {
  opacity: 0.7;
}

@media screen and (min-width: 1150px) {
  .container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 450px;
    height: 697px;
  }

  .image {
    width: 450px;
    height: 220px;
  }

  .heading {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
    margin: 17px 48px;
  }

  .anualplan {
    width: 354px;
    height: 98px;
  }

  button {
    width: 354px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 32px;
  }

  .cancel {
    margin-top: 32px;
  }

  .charge{
    margin-right: 60px;
  }
   
